.search-card {
  display: flex;
  max-width: inherit;
  flex-direction: column;
  margin-bottom: 5rem;
  background-color: #1e202e;
  padding: 3rem;
  border-radius: 5px;
  font-family: $font-OS;
  color: white;
  @include respond(phone) {
    padding: 3rem 2rem;
  }

  &__search-platform {
    font-size: 1.5rem;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__search-title {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    margin: 1rem 0;

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__search-tags {
    font-size: 2rem;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__description {
    background-color: rgb(233, 233, 233);
    padding: 25px;
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    text-align: justify;
  }
  &__buttons {
    margin-top: 15px;
  }
}
