.card-container {
  flex: 0 0 31.333333%;
  margin: 10px;
  box-shadow: 1px 2px 5px 0px rgba(77, 77, 77, 0.29);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(77, 77, 77, 0.29);
  -moz-box-shadow: 1px 2px 5px 0px rgba(77, 77, 77, 0.29);
  -webkit-animation: fadein 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  animation: fadein 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  .card {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    border-radius: 5px;
    font-family: $font-OS;
    color: white;
    @include respond(phone) {
      padding: 3rem 2rem;
    }
    &__search-platform {
      font-size: 2rem;
      padding: 30px;
      text-align: center;
      font-weight: 700;
      background-color: $color-accent;

      @include respond(phone) {
        font-size: 1.8rem;
      }
    }
    &-content {
      flex: 1;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      &__search-title {
        font-size: 2rem;
        color: white;
        font-weight: 600;
        margin: 0.5srem 0;

        @include respond(phone) {
          font-size: 2.5rem;
        }
      }

      &__search-tags {
        margin: 1rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        p {
          max-width: initial;
          padding: 4px 10px;
          border: solid $color-secondary 2px;
          color: white;
        }
        p:not(:first-child) {
          margin: 0px 5px;
        }
        @include respond(phone) {
          font-size: 1.4rem;
        }
      }

      &__description {
        font-family: $font-OS;
        font-size: 1.4rem;
        margin: 1.5rem 0;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0.015em;
        color: rgb(255, 255, 255);
        text-align: justify;
      }
      &__buttons {
        flex: 1;
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        &-tools {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
