.search {
}

.search-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include respond(tab-port) {
    display: block;
  }
  @include respond(phone) {
    display: block;
  }
  @include respond(small-phone) {
    display: block;
  }
  @include respond(tab-land) {
    display: block;
  }
}

.link-not-found{
  width: 100%;
  display: flex;
  justify-content: center;
  p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;;
  }

}