.search-bar-container {
  display: flex;
  flex-direction: row;
  padding: 5% 0px;
  .search-bar {
    flex: 1;
    background-color: white;
    line-height: 5%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    &-icon {
      min-width: 28px;
      max-width: 28px;
      padding: 5px;
      margin-right: 13px;
    }
    .devider {
      margin-right: 5px;
      width: 2px;
      background: #e7e7e9;
      height: 100%;
    }
    &-input {
      border: none;
      flex: 1;
      font-weight: 600;
      font-family: $font-OS;
      color: rgba($color: #000000, $alpha: 0.5);
      font-size: 16px;
    }
    &-input::placeholder {
      color: rgba($color: #000000, $alpha: 0.1);
    }
    &-input:focus {
      outline: none;
    }
  }
}
