code {
  font-family: MyFancyCustomFont, monospace;
  font-size: inherit;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}
//abstract
@import "./styles/base/typography.scss";
@import "./styles/abstract/variables.scss";
@import "./styles/abstract/mixins.scss";

//base
@import "./styles/base/base.scss";

//componenets
@import "./components/container/container";
@import "./components/header/header";
@import "./components/pageHeader/pageHeader";
@import "./components/searchBar/searchBar";
@import "./components/customSelect/customSelect";
@import "./components/listItem/listItem";
@import "./components/linkInput/linkInput";
@import "./components/Input/input";
@import "./components/multiSelect/multiSelect";
@import "./components/toolBar/toolBar";

//pages

@import "./pages/_index";
