*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px    10px/16px = 62.5%

  @include respond(tab-land) {
    //width < 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    //width < 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
}

body {
  padding: 0;
  margin: 0;
  counter-reset: section;
  background-color: #363749;
  font-family: "Raleway", sans-serif;
}
button:focus {
  outline: 0px;
}

.button-outline-accent {
  padding: 0px 5px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  font-family: $font-OS;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.button-white {
  padding: 12px;
  color: white;
  text-decoration: none;
  background-color: $color-accent;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  font-family: $font-OS;
  border: solid $color-accent 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg-style {
  stroke: #363749;
  opacity: 0.8;
  transition: 0.3s;
}
.svg-style:hover {
  stroke: #4b4c61;
  transform: all 0.3s ease-in;
  opacity: 1;
}
